#login-back {
    width: 600px;
    margin: 0 auto;
}

#placecard{
    margin: 10px 10px;
}

#logo{
    margin: -10px;
    height: 200px
}

#small_logo{
    height: 100px;
}

#about{
    margin: 30px
}

#aboutspot {
    color: #ffc93c;
}

#feed {
    margin: 15px
}

#auto {
    display: block;
    position: relative;
}

.ui-menu .ui-menu-item a{
    border: 1px solid;
    margin: 10px;
}

ul.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-color: rgba(0, 0, 0, 0.2);
}

#prevPostsDiv {
    margin: 10px
}

#likedPostsDiv {
    margin: 10px
}